
.styled-input {
    margin-top: 4px;
    width: 100%;
    padding: 12px 0;
}

select {
    padding: 12px 16px;
    background-color: rgb(224, 224, 224);
    border-radius: 8px;
}

li {
    margin: 16px 0;
}

.styled-input, textarea {
    margin-top: 4px;
    border-radius: 4px;
    border: solid 1px gray;
    width: 100%;
    padding: 12px 0;
}

.form-button {
    width: 100%;
    margin: 8px;
    padding: 16px;
    color: white;
    background-color: rgb(77, 221, 77);
    border: none;
    border-radius: 4px;
}
